trakt:
  account: 
  username: 
  series: TVFollowing 
  moviesqueue: MovieQueue
  movieswatchlist: watchlist
myanimelist:
  id: user_id
pushbullet:
  api: 
folder:
### path of the folder/mountpoint for all the media, without the leading slash
  root: downloads/
### media and download paths, relative to the previous path
  series: series/
  anime: anime/
  movies: movies/

transmission:
  host: 
  user: 
  pass: 
iptorrents:
  rss_key: 
#  uid:  # Manual edit in config.yml required http://flexget.com/wiki/Searches/iptorrents
  password: 

#
# Transmission configuration for port not included because int variable does not work from secrets.
# See: http://flexget.com/ticket/2745
